
@import "@fortawesome/fontawesome-free/css/all.css";

/* Estilos del cuerpo principal */
main {
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}

/* Estilos del contenedor de texto (opcional) */
section#text-container > div > p {
    font: 1.2em "segoe ui", arial, sans-serif;
}

/* Estilos del contenedor del informe */
section#report-container {
    height: 78vh; 
    width: 100%; /* Asegura que el ancho se ajuste a toda la pantalla */
    overflow: hidden;
}

iframe {
    border: none;
}

#div_top{
    background-color:#ffffff; /* Color de fondo */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 8px 15px, rgba(0, 0, 0, 0.12) 0px -12px 10px; 
    padding: 5px; /* Ajusta el espacio interno según tus necesidades */
    color: rgb(0, 0, 0);


}


#title_report{
    display: grid;
    place-items: center;
    width: 90vw;
    height: auto;
}


#salir{
    border: none;
    font-size: 28px;
 
}